body {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

/* Home page */
.homebody{
  background-image: url("Ellipse 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.navDiv {
  background-color: #88b9bc;
  overflow: hidden;
}

.search {
  display: flex;
  width: 200px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
}

.search-input {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  border-radius: 50px;

}

.search-icon {
  margin: 5px;
}


.navDiv .icon{
  display: none;
}

.navRight {
  display: flex;
  float: right;
  padding: 14px 16px;
  margin-right: 2%;
}

.cartIcone {
  margin-top: -2%;
  cursor: pointer;
}

.navlist,
a {
  text-align: center;
  padding: 14px 16px;
  font-family: Raleway;
  margin-top: -15%;
}

a:link {
  color: #765843;
  text-decoration: none;
}

a:visited {
  color: #765843;
}

a:hover {
  color: #5b412e;
  text-decoration: underline;
  text-decoration: underline;
}

a:active {
  color: #5b412e;
  text-decoration: underline;
}

.signUpBtn {
  float: right;
  margin-top: 1.5%;
  margin-right: 2%;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  background-color: #5b412e;
  color: #fff;
  cursor: pointer;
  border: none;
}

.homeSection{
  padding: 0%;
  display: flex;
  flex-direction: column;
  margin-top: -3%;
 
}

.HomeContent{
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  margin-left: 35%;
}

.homeHeader{
  font-size: 48px 
}

.homePara {
  text-align: left;
  color: #fff;
  margin-left: -9%;
  font-size:24px;
}

.buyNowBtn {
  height: 30px;
  width: 150px;
  border-radius: 50px;
  background-color: #5b412e;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-left: -0.2%;
  border: none; 
}

#homeImage {
  text-align: center;
  width: 750px;
  margin-left: 40%;
  margin-top: -10%;
}

.profileIcon
{
  float: right;
  margin-top: -2%;
  margin-right: 2%;
  cursor: pointer;
}
/*---------------------------------------------------------------------------------------------------------------*/

/* Products Page */

.addContainer{
  display: flex;
  flex-direction: row;
  margin-left: 0.5%;
}

.add1{
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 50px;
  width: 510px;
  height:250px;
  margin-top: 2%;
  margin-left: 2%;
  padding: 14px 16px;
}



.add1btn{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #88b9bc;
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 20px;
   margin-left: -11%;

}

.add1Content{
  align-content: center;
  margin-top: -20%;
  
  }

.add1Img{
  margin-top: -40%;
  width: 290px;
}

.add1head{
  color: #5B412E;
  font-size: 40px ;
  font-family:Sofia;
  margin-top: 70%;
  margin-left: 3%;
}

.addpara{
  color: #5B412E;
  font-size: 18px ;
  font-family:Raleway;
  margin-top: -5%;
}

.add2Content{
align-content: center;
margin-top: -20%;

}
.add2head{
  color: #5B412E;
  font-size: 40px ;
  font-family:Sofia;
  margin-top: 70%;
  margin-left: 3%;
}

.add2Img{
  margin-top: 18%;
  width: 280px;
}


.add3Content{
  align-content: center;
  margin-top: -20%;
  margin-left: -20%;
  
  }

  .add3head{
    color: #5B412E;
    font-size: 40px ;
    font-family:Sofia;
    margin-top: 70%;
    margin-left: 3%;
  }
.add3Img{
  margin-top: -3%;
  margin-left: -10%;
  width:400px;
}

.catigories{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 2.5%;

}

.catigoriesBtn1{
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: #88b9bc;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  padding: 14px 16px;
  margin-right: 2.5%;

}

.catigoriesBtn2{
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: #F4F4F4;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  padding: 14px 16px;
  margin-right: 2.5%;
  

}

.productsContainer{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
  
  
}

.items{
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  width: 280px;
  height: 470px;
  border-radius: 40px;
  padding: 14px 16px;
  align-items: center;
  margin-left: 2%;;
  
}

.heart{
  margin-left: 80%;
  padding: 14px 16px;
}

.coffeeProduct{
  align-items: center;
  margin-top: -13%;
}

.productDetails{
  margin-right: 13%;
  margin-top: -8%;
}

.moreDetails{
  display: flex;
  flex-direction: row;
}

.price{
  display: flex;
  flex-direction: row;
  margin-top: -15%;
  

}

.reviews{
  display: flex;
  flex-direction: row;
  padding: 14px 16px;
}

.itembtn{
  border-radius: 50px;
  height: 30px;
  width: 120px;
  background-color: #88b9bc;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  margin-left: 4.5%;
 
}

.footer{
  background-color: #88b9bc;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}

.copyRights{
  color: #fff;
  font-family: Raleway;
}

.policy{
  color: #5b412e;
  font-family: Raleway;
  margin-top: -0.05%;
}
/*---------------------------------------------------------------------------------------------------------------*/

/* Product Details Page*/

.ProductDetails{
  display: flex;
  flex-direction: row;
}
.sourceheading{
  display: flex;
  flex-direction: row;
}

.sourceDetails{
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 8%;
}

.sourceheading{
  margin-left: 10%;
}

.sorce1{
  font-family: Sofia;
  color: #5b412e;
  margin-left: 3%;
  margin-top: -0.5%;
}

.source2{
  color: #765843;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
}
.source3{
  color: black;
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  margin-top: -8%;
  margin-left: 4%;
}

.pageImageDetails{
  display: flex;
  flex-direction: column;
}

.imageHeading{
  font-family: Sofia;
  color: #5b412e;
  margin-left: 6%;
  margin-top: 13%;

}


.productImage{
  margin-top: -10%;
  margin-left: -10%;
}

.PriceDiv{
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}

.priceContainer{
  margin-left: 15%;
}

.priceDetials{
  display: flex;
  flex-direction: row;
  margin-top: -15%;
}
.cartCounter{
  display: flex;
  flex-direction: row;
  
}

.plus, .number, .minus{
  padding: 5px;
  color: #5b412e;
  font-size: 18px;
  font-family: Raleway;

}

.cartBtn{
  background-color: #88b9bc;
  color: #5b412e;
  font-family: Raleway;
  border-radius: 30px;
  border: none;
  width: 130px;
  height: 30px;
  cursor: pointer;
  margin-top: 20%;
}
.curincy, .price{
  padding: 5px;
  font-family: Raleway;
}

.curincy{
  color: #5b412e;
}
.price{
  color:#88b9bc;
  font-size: 20px;
  margin-top: 10%;
}

.moreProucts{
  font-family: Raleway;
  color: #88b9bc;
  font-size: 24px;
  margin-left: 5%;
}
.containerProducts{
  padding: padding 5px;
}

.coffeeBeansImg{
  padding: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.moreProductsDiv{
  padding: 5px;
  margin-left: 6%;
  margin-right: 7%;
}
/*---------------------------------------------------------------------------------------------------------------*/
/* SignUp Form*/

.SignUpBody{

  background-image: url(Ellipse\ 2.png);
  background-repeat: no-repeat;
  background-size:50%;
  background-position: left;

}
.signUpPage{
  display: flex;
  flex-direction: row;
}
.pcbLogo{
  width: 400px;
  margin-left: 40%;
  margin-top: 60%;
}


.SignUpFormDiv{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 8%;
}
.signUpHeadding{
  font-family: Sofia;
  color: #5b412e;
  margin-left: 20%;
  margin-top: -10%;
}

.signUpIcons{
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-top: 15%;
}

.signUpForm{
  margin-left: -9%;
  margin-bottom: 3%;

}

.Signpara1{
  font-family: Raleway;
  color: #5b412e;
  margin-left: -8%;
}

.Signpara2{
  font-family: Raleway;
  color: #5b412e;

}

.SignInLink{
  font-family: Raleway;
  color: #88b9bc;
}
.name{
  border-radius: 50px;
  border: solid 1px #D7DBDC;
  width: 500px;
  height: 55px;
  padding-left: 4%;
  margin-bottom: 3%;
  
}

.email{
  border-radius: 50px;
  width: 500px;
  height: 55px;
  border: solid 1px #D7DBDC;
  padding-left: 4%;
  margin-bottom: 3%;
}
.password{
  display: flex;
  width: 524px;
  height: 55px;
  border: solid 1px #D7DBDC;
  border-radius: 50px;
  justify-content: space-between;
  margin-bottom: 3%;
}
.passwordfeild{
  border: none;
  outline: none;
  border-radius: 50px;
  padding-right: 3%;
  margin-left: 4%;

}

.confirmPassword{
  display: flex;
  width: 524px;
  height: 55px;
  border: solid 1px #D7DBDC;
  border-radius: 50px;
  justify-content: space-between;
  margin-bottom: 3%;
}

.Confirmfeild{
  border: none;
  outline: none;
  border-radius: 50px;
  margin-left: 4%;
}

.signupBtn{
  width: 524px;
  height: 55px;
  border: none;
  border-radius: 50px;
  background-color: #88b9bc;
  color: #5b412e;
  font-family: Raleway;
  font-size: 18px;
  margin-bottom: 3%;
}

.footer{
  background-color: #88b9bc;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
}

.copyRights{
  color: #fff;
  font-family: Raleway;
}

.policy{
  color: #5b412e;
  font-family: Raleway;
  margin-top: -0.05%;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Media Quairy*/
/*---------------------------------------------------------------------------------------------------------------*/
/* For Mobile Devices */

@media screen and (max-width:767px)
{
  /*Home Page*/

  .homebody{
    background-image: url("EllipseMobile.png");
    background-repeat: no-repeat;
    background-size: 110vw;
  }
  
  .navDiv a:not(:first-child) {display: none;}
  .navDiv a.icon {
    float: right;
    display: block;
  }
    .navDiv.responsive {position: relative;}
    .navDiv.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navDiv.responsive a {
      float: none;
      display: block;
      text-align: left;
    }


  .search{
    display: none;
  }
 .cartImage{
  display: none;
 }

 .signUpBtn {
  margin-top: 1.5%;
  margin-right: -3%;
  height: 20px;
  width: 60px;
  
}

.logo{
  margin-left: -2%;
}

.HomeContent{
 margin-right: 5%;
 margin-top: 40%;
}


.homeHeader{
  font-size: 22px; 
  margin-left: -25%;
}
.homePara {
font-size: 14px;
margin-left: -50%;

}
.buyNowBtn{
  margin-left: -25%;
}

#homeImage {
  text-align: center;
  width: 300px;
  margin-left: 17%;
  margin-top: -5%;
}

/* products Page */

.navDiv a:not(:first-child) {display: none;}
.navDiv a.icon {
  float: right;
  display: block;
}

@media screen and (max-width: 600px) {
  .navDiv.responsive {position: relative;}
  .navDiv.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navDiv.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.search{
  display: none;
}
.cartImage{
display: none;
}

.signUpBtn {
margin-top: 1.5%;
margin-right: -3%;
height: 20px;
width: 60px;

}

.logo{
margin-left: -2%;
}

.add1{
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 30px;
  width: 300px;
  height:150px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3.5%;
  padding: 14px 16px;
}


.add1btn{
  height: 30px;
  width: 100px;
  border-radius: 50px;
  background-color: #88b9bc;
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 16px;
   margin-left: -11%;

}

.add1Img{
  margin-top: -45%;
  width: 190px;
  
}
.add1head, .add2head, .add3head{
  font-size: 20px;
}

.addpara{
  font-size: 14px;

}

.add2Img{
  margin-top: 10%;
  width: 190px;
}

.add3Img{
  margin-top: 1%;
  width: 260px;
}

.addContainer, .catigories{
  overflow: auto;
  white-space: nowrap;
}

.catigories{

  margin-bottom: 5%;

}

.productsContainer{
  flex-direction: column;
  margin-left: 6.5%;
  margin-top: 4%;

}

.items{
  margin-bottom: 5%;
}

.footerContainer{
 font-size: 14px;
 margin-left: auto;
padding-left: 20%;
}

/* Product Details Page */

.ProductDetails{
  flex-direction: column;
}

.sourceheading{
  margin-left: -1%;
}

.sourceDetails{
  width: auto;
}

.source2{
  font-size: 14px;
  margin-left: -18%;

 
}

.source3{
  font-size: 14px;
  margin-left: -18%;

}

.containerProducts{
  overflow: auto;
  white-space: nowrap;
}

.imageHeading{
  font-size: 12px;
  margin-top: -8%;
  margin-left: 15%;
}

.productImage img{
  width: 330px;
  margin-left: 20%;
}

.PriceDiv{
  margin-left: 20%;
  margin-top: -6%;
}

.moreProductsDiv{
  margin-top: 15%;
}

.moreProucts{
  font-size: 16px;
}

.containerProducts img{
  width: 90px;
}

.footerContainer{
  font-size: 14px;
  margin-left: auto;
 padding-left: 20%;
 }

/* Sign Up page*/

.SignUpBody{

  background-image: url();
}

.log{
  display: none;
}

.signUpHeadding{
  margin-top: 4%;
  margin-left: -6%;
}

.signUpIcons img{
  width: 60px;
}

.signUpIcons{
  margin-left: -35%;
}

.Signpara1{
  margin-left: -30%;
}

.signUpForm{
  margin-left: -25%;
}

.name, .email {
  width: 270px;
  margin-left: -8%;
}

.password, .confirmPassword, .signupBtn {
  width: 290px;
  margin-left: -8%;
}



.passwordfeild, .Confirmfeild{
  width: 300px;
 
}

.footerContainer{
  font-size: 14px;
  margin-left: auto;
 padding-left: 20%;
 }


}


/*Products Page*/

/*---------------------------------------------------------------------------------------------------------------*/
/* For Tablets*/
@media screen and (max-width:768px) and(max-width: 1023)
{

    /*Home Page*/

    .homebody{
      background-image: url("EllipseMobile.png");
      background-repeat: no-repeat;
      background-size: 110vw;
    }
    
    .navDiv a:not(:first-child) {display: none;}
    .navDiv a.icon {
      float: right;
      display: block;
    }
  
    @media screen and (max-width: 767px) {
      .navDiv.responsive {position: relative;}
      .navDiv.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .navDiv.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  
    .search{
      display: none;
    }
   .cartImage{
    display: none;
   }
  
   .signUpBtn {
    margin-top: 1.5%;
    margin-right: -3%;
    height: 20px;
    width: 60px;
    
  }
  
  .logo{
    margin-left: -2%;
  }
  
  .HomeContent{
   margin-right: 5%;
   margin-top: 40%;
  }
  
  
  .homeHeader{
    font-size: 22px; 
    margin-left: -25%;
  }
  .homePara {
  font-size: 14px;
  margin-left: -50%;
  
  }
  .buyNowBtn{
    margin-left: -25%;
  }
  
  #homeImage {
    text-align: center;
    width: 300px;
    margin-left: 17%;
    margin-top: -5%;
  }
  
  /* products Page */
  
  .navDiv a:not(:first-child) {display: none;}
  .navDiv a.icon {
    float: right;
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .navDiv.responsive {position: relative;}
    .navDiv.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navDiv.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .search{
    display: none;
  }
  .cartImage{
  display: none;
  }
  
  .signUpBtn {
  margin-top: 1.5%;
  margin-right: -3%;
  height: 20px;
  width: 60px;
  
  }
  
  .logo{
  margin-left: -2%;
  }
  
  .add1{
    display: flex;
    flex-direction: row;
    background-color: #F4F4F4;
    border-radius: 30px;
    width: 300px;
    height:150px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3.5%;
    padding: 14px 16px;
  }
  
  
  .add1btn{
    height: 30px;
    width: 100px;
    border-radius: 50px;
    background-color: #88b9bc;
    color: #fff;
    cursor: pointer;
    border: none;
    font-family: Raleway;
    font-size: 16px;
     margin-left: -11%;
  
  }
  
  .add1Img{
    margin-top: -45%;
    width: 190px;
    
  }
  .add1head, .add2head, .add3head{
    font-size: 20px;
  }
  
  .addpara{
    font-size: 14px;
  
  }
  
  .add2Img{
    margin-top: 10%;
    width: 190px;
  }
  
  .add3Img{
    margin-top: 1%;
    width: 260px;
  }
  
  .addContainer, .catigories{
    overflow: auto;
    white-space: nowrap;
  }
  
  .catigories{
  
    margin-bottom: 5%;
  
  }
  
  .productsContainer{
    flex-direction: column;
    margin-left: 6.5%;
    margin-top: 4%;
  
  }
  
  .items{
    margin-bottom: 5%;
  }
  
  .footerContainer{
   font-size: 14px;
   margin-left: auto;
  padding-left: 20%;
  }
  
  /* Product Details Page */
  
  .ProductDetails{
    flex-direction: column;
  }
  
  .sourceheading{
    margin-left: -1%;
  }
  
  .sourceDetails{
    width: auto;
  }
  
  .source2{
    font-size: 14px;
    margin-left: -18%;
  
   
  }
  
  .source3{
    font-size: 14px;
    margin-left: -18%;
  
  }
  
  .containerProducts{
    overflow: auto;
    white-space: nowrap;
  }
  
  .imageHeading{
    font-size: 12px;
    margin-top: -8%;
    margin-left: 15%;
  }
  
  .productImage img{
    width: 330px;
    margin-left: 20%;
  }
  
  .PriceDiv{
    margin-left: 20%;
    margin-top: -6%;
  }
  
  .moreProductsDiv{
    margin-top: 15%;
  }
  
  .moreProucts{
    font-size: 16px;
  }
  
  .containerProducts img{
    width: 90px;
  }
  
  .footerContainer{
    font-size: 14px;
    margin-left: auto;
   padding-left: 20%;
   }
  
  /* Sign Up page*/
  
  .SignUpBody{
  
    background-image: url();
  }
  
  .log{
    display: none;
  }
  
  .signUpHeadding{
    margin-top: 4%;
    margin-left: -6%;
  }
  
  .signUpIcons img{
    width: 60px;
  }
  
  .signUpIcons{
    margin-left: -35%;
  }
  
  .Signpara1{
    margin-left: -30%;
  }
  
  .signUpForm{
    margin-left: -25%;
  }
  
  .name, .email {
    width: 270px;
    margin-left: -8%;
  }
  
  .password, .confirmPassword, .signupBtn {
    width: 290px;
    margin-left: -8%;
  }
  
  
  
  .passwordfeild, .Confirmfeild{
    width: 300px;
   
  }
  
  .footerContainer{
    font-size: 14px;
    margin-left: auto;
   padding-left: 20%;
   }
}
/*---------------------------------------------------------------------------------------------------------------*/
/* For Disktop Devices */
@media screen and(min-width:1024px){
  body {
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  
  /* Home page */
  .homebody{
    background-image: url("Ellipse 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  
  .navDiv {
    background-color: #88b9bc;
    overflow: hidden;
  }
  
  .search {
    display: flex;
    width: 200px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 50px;
  
  }
  
  .search-icon {
    margin: 5px;
  }
  
  
  .navDiv .icon{
    display: none;
  }
  
  .navRight {
    display: flex;
    float: right;
    padding: 14px 16px;
    margin-right: 2%;
  }
  
  .cartIcone {
    margin-top: -2%;
    cursor: pointer;
  }
  
  .navlist,
  a {
    text-align: center;
    padding: 14px 16px;
    font-family: Raleway;
    margin-top: -15%;
  }
  
  a:link {
    color: #765843;
    text-decoration: none;
  }
  
  a:visited {
    color: #765843;
  }
  
  a:hover {
    color: #5b412e;
    text-decoration: underline;
    text-decoration: underline;
  }
  
  a:active {
    color: #5b412e;
    text-decoration: underline;
  }
  
  .signUpBtn {
    float: right;
    margin-top: 1.5%;
    margin-right: 2%;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    background-color: #5b412e;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .homeSection{
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin-top: -3%;
   
  }
  
  .HomeContent{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 35%;
  }
  
  .homeHeader{
    font-size: 48px 
  }
  
  .homePara {
    text-align: left;
    color: #fff;
    margin-left: -9%;
    font-size:24px;
  }
  
  .buyNowBtn {
    height: 30px;
    width: 150px;
    border-radius: 50px;
    background-color: #5b412e;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-left: -0.2%;
    border: none; 
  }
  
  #homeImage {
    text-align: center;
    width: 750px;
    margin-left: 40%;
    margin-top: -10%;
  }
  
  .profileIcon
  {
    float: right;
    margin-top: -2%;
    margin-right: 2%;
    cursor: pointer;
  }

  
  /* Products Page */
  
  .addContainer{
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;
  }
  
  .add1{
    display: flex;
    flex-direction: row;
    background-color: #F4F4F4;
    border-radius: 50px;
    width: 510px;
    height:250px;
    margin-top: 2%;
    margin-left: 2%;
    padding: 14px 16px;
  }
  
  
  
  .add1btn{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #88b9bc;
    color: #fff;
    cursor: pointer;
    border: none;
    font-family: Raleway;
    font-size: 20px;
     margin-left: -11%;
  
  }
  
  .add1Content{
    align-content: center;
    margin-top: -20%;
    
    }
  
  .add1Img{
    margin-top: -40%;
    width: 290px;
  }
  
  .add1head{
    color: #5B412E;
    font-size: 40px ;
    font-family:Sofia;
    margin-top: 70%;
    margin-left: 3%;
  }
  
  .addpara{
    color: #5B412E;
    font-size: 18px ;
    font-family:Raleway;
    margin-top: -5%;
  }
  
  .add2Content{
  align-content: center;
  margin-top: -20%;
  
  }
  .add2head{
    color: #5B412E;
    font-size: 40px ;
    font-family:Sofia;
    margin-top: 70%;
    margin-left: 3%;
  }
  
  .add2Img{
    margin-top: 18%;
    width: 280px;
  }
  
  
  .add3Content{
    align-content: center;
    margin-top: -20%;
    margin-left: -20%;
    
    }
  
    .add3head{
      color: #5B412E;
      font-size: 40px ;
      font-family:Sofia;
      margin-top: 70%;
      margin-left: 3%;
    }
  .add3Img{
    margin-top: -3%;
    margin-left: -10%;
    width:400px;
  }
  
  .catigories{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 2.5%;
  
  }
  
  .catigoriesBtn1{
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background-color: #88b9bc;
    color: #5b412e;
    cursor: pointer;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    padding: 14px 16px;
    margin-right: 2.5%;
  
  }
  
  .catigoriesBtn2{
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background-color: #F4F4F4;
    color: #5b412e;
    cursor: pointer;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    padding: 14px 16px;
    margin-right: 2.5%;
    
  
  }
  
  .productsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    
    
  }
  
  .items{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    width: 280px;
    height: 470px;
    border-radius: 40px;
    padding: 14px 16px;
    align-items: center;
    margin-left: 2%;;
    
  }
  
  .heart{
    margin-left: 80%;
    padding: 14px 16px;
  }
  
  .coffeeProduct{
    align-items: center;
    margin-top: -13%;
  }
  
  .productDetails{
    margin-right: 13%;
    margin-top: -8%;
  }
  
  .moreDetails{
    display: flex;
    flex-direction: row;
  }
  
  .price{
    display: flex;
    flex-direction: row;
    margin-top: -15%;
    
  
  }
  
  .reviews{
    display: flex;
    flex-direction: row;
    padding: 14px 16px;
  }
  
  .itembtn{
    border-radius: 50px;
    height: 30px;
    width: 120px;
    background-color: #88b9bc;
    color: #5b412e;
    cursor: pointer;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    margin-left: 4.5%;
   
  }
  
  .footer{
    background-color: #88b9bc;
  }
  
  .footerContainer{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
  }
  
  .copyRights{
    color: #fff;
    font-family: Raleway;
  }
  
  .policy{
    color: #5b412e;
    font-family: Raleway;
    margin-top: -0.05%;
  }

  
  /* Product Details Page*/
  
  .ProductDetails{
    display: flex;
    flex-direction: row;
  }
  .sourceheading{
    display: flex;
    flex-direction: row;
  }
  
  .sourceDetails{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 8%;
  }
  
  .sourceheading{
    margin-left: 10%;
  }
  
  .sorce1{
    font-family: Sofia;
    color: #5b412e;
    margin-left: 3%;
    margin-top: -0.5%;
  }
  
  .source2{
    color: #765843;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
  }
  .source3{
    color: black;
    font-family: Raleway;
    font-size: 15px;
    font-weight: bold;
    margin-top: -8%;
    margin-left: 4%;
  }
  
  .pageImageDetails{
    display: flex;
    flex-direction: column;
  }
  
  .imageHeading{
    font-family: Sofia;
    color: #5b412e;
    margin-left: 6%;
    margin-top: 13%;
  
  }
  
  
  .productImage{
    margin-top: -10%;
    margin-left: -10%;
  }
  
  .PriceDiv{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
  }
  
  .priceContainer{
    margin-left: 15%;
  }
  
  .priceDetials{
    display: flex;
    flex-direction: row;
    margin-top: -15%;
  }
  .cartCounter{
    display: flex;
    flex-direction: row;
    
  }
  
  .plus, .number, .minus{
    padding: 5px;
    color: #5b412e;
    font-size: 18px;
    font-family: Raleway;
  
  }
  
  .cartBtn{
    background-color: #88b9bc;
    color: #5b412e;
    font-family: Raleway;
    border-radius: 30px;
    border: none;
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-top: 20%;
  }
  .curincy, .price{
    padding: 5px;
    font-family: Raleway;
  }
  
  .curincy{
    color: #5b412e;
  }
  .price{
    color:#88b9bc;
    font-size: 20px;
    margin-top: 10%;
  }
  
  .moreProucts{
    font-family: Raleway;
    color: #88b9bc;
    font-size: 24px;
    margin-left: 5%;
  }
  .containerProducts{
    padding: padding 5px;
  }
  
  .coffeeBeansImg{
    padding: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .moreProductsDiv{
    padding: 5px;
    margin-left: 6%;
    margin-right: 7%;
  }

  /* SignUp Form*/
  
  .SignUpBody{
  
    background-image: url(Ellipse\ 2.png);
    background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
  
  }
  .signUpPage{
    display: flex;
    flex-direction: row;
  }
  .pcbLogo{
    width: 400px;
    margin-left: 40%;
    margin-top: 60%;
  }
  
  
  .SignUpFormDiv{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-top: 8%;
  }
  .signUpHeadding{
    font-family: Sofia;
    color: #5b412e;
    margin-left: 20%;
    margin-top: -10%;
  }
  
  .signUpIcons{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: 15%;
  }
  
  .signUpForm{
    margin-left: -9%;
    margin-bottom: 3%;
  
  }
  
  .Signpara1{
    font-family: Raleway;
    color: #5b412e;
    margin-left: -8%;
  }
  
  .Signpara2{
    font-family: Raleway;
    color: #5b412e;
  
  }
  
  .SignInLink{
    font-family: Raleway;
    color: #88b9bc;
  }
  .name{
    border-radius: 50px;
    border: solid 1px #D7DBDC;
    width: 500px;
    height: 55px;
    padding-left: 4%;
    margin-bottom: 3%;
    
  }
  
  .email{
    border-radius: 50px;
    width: 500px;
    height: 55px;
    border: solid 1px #D7DBDC;
    padding-left: 4%;
    margin-bottom: 3%;
  }
  .password{
    display: flex;
    width: 524px;
    height: 55px;
    border: solid 1px #D7DBDC;
    border-radius: 50px;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  .passwordfeild{
    border: none;
    outline: none;
    border-radius: 50px;
    padding-right: 3%;
    margin-left: 4%;
  
  }
  
  .confirmPassword{
    display: flex;
    width: 524px;
    height: 55px;
    border: solid 1px #D7DBDC;
    border-radius: 50px;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  
  .Confirmfeild{
    border: none;
    outline: none;
    border-radius: 50px;
    margin-left: 4%;
  }
  
  .signupBtn{
    width: 524px;
    height: 55px;
    border: none;
    border-radius: 50px;
    background-color: #88b9bc;
    color: #5b412e;
    font-family: Raleway;
    font-size: 18px;
    margin-bottom: 3%;
  }
  
  .footer{
    background-color: #88b9bc;
  }
  
  .footerContainer{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
  }
  
  .copyRights{
    color: #fff;
    font-family: Raleway;
  }
  
  .policy{
    color: #5b412e;
    font-family: Raleway;
    margin-top: -0.05%;
  }



}