body {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.homebody{
  background-image: url("Ellipse 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.navDiv {
  background-color: #88b9bc;
}

.search {
  display: flex;
  width: 200px;
  height: 35px;
  background-color: white;
  border-radius: 50px;
}

.search-input {
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  border-radius: 50px;

}

.search-icon {
  margin: 5px;
}

.navCenter {
  float: none;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navRight {
  display: flex;
  float: right;
  padding: 14px 16px;
  margin-right: 2%;
}

.cartIcone {
  margin-top: -2%;
  cursor: pointer;
}

.navlist,
a {
  text-align: center;
  padding: 14px 16px;
  font-family: Raleway;
}

a:link {
  color: #765843;
  text-decoration: none;
}

a:visited {
  color: #765843;
}

a:hover {
  color: #5b412e;
  text-decoration: underline;
  text-decoration: underline;
}

a:active {
  color: #5b412e;
  text-decoration: underline;
}

.signUpBtn {
  float: right;
  margin-top: 1.5%;
  margin-right: 2%;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  background-color: #5b412e;
  color: #fff;
  cursor: pointer;
  border: none;
}

.homeSection{
  padding: 0%;
  display: flex;
  flex-direction: column;
  margin-top: -3%;
 
}

.HomeContent{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 50%;
}


.homePara {
  text-align: left;
  color: #fff;
  margin-left: -13%;
}

.buyNowBtn {
  height: 30px;
  width: 150px;
  border-radius: 50px;
  background-color: #5b412e;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-left: -0.2%;
  border: none; 
}

#homeImage {
  text-align: center;
  width: 750px;
  margin-left: 50%;
  margin-top: -12%;
}

.profileIcon
{
  float: right;
  margin-top: -2%;
  margin-right: 2%;
  cursor: pointer;
}

.addContainer{
  display: flex;
  flex-direction: row;
}

.add1{
  display: flex;
  flex-direction: row;
  background-color: #F4F4F4;
  border-radius: 50px;
  width: 800px;
  height:250px;
  margin-top: 2%;
  margin-left: 3.5%;
  padding: 14px 16px;
}

.add1Content{
align-content: center;
margin-top: -20%;

}

.add1btn{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #88b9bc;
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 20px;
   margin-left: -11%;

}

.add1Img{
  margin-top: -26%;
}

.add2Img{
  margin-top: 8%;
}

.add3Img{
  margin-top: 5%;
}

.catigories{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 2.5%;

}

.catigoriesBtn1{
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: #88b9bc;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  padding: 14px 16px;
  margin-right: 2.5%;

}

.catigoriesBtn2{
  border-radius: 50px;
  height: 50px;
  width: 150px;
  background-color: #F4F4F4;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  padding: 14px 16px;
  margin-right: 2.5%;
  

}

.productsContainer{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
  
  
}

.items{
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  width: 280px;
  height: 470px;
  border-radius: 40px;
  padding: 14px 16px;
  align-items: center;
  margin-left: 2%;;
  
}

.heart{
  margin-left: 80%;
  padding: 14px 16px;
}

.coffeeProduct{
  align-items: center;
  margin-top: -13%;
}

.productDetails{
  margin-right: 13%;
  margin-top: -8%;
}

.moreDetails{
  display: flex;
  flex-direction: row;
}

.price{
  display: flex;
  flex-direction: row;
  

}

.reviews{
  display: flex;
  flex-direction: row;
  padding: 14px 16px;
}

.itembtn{
  border-radius: 50px;
  height: 30px;
  width: 120px;
  background-color: #88b9bc;
  color: #5b412e;
  cursor: pointer;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  margin-left: 4.5%;
 
}

.footer{
  background-color: #88b9bc;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  margin-left: 45%;
}

.copyRights{
  color: #fff;
  font-family: Raleway;
}

.policy{
  color: #5b412e;
  font-family: Raleway;
}



/* Media Quairy*/